@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>Contact me</h3>

<p>To Find more about me contact me here</p>
<address>
    
    <strong>LinkedIn</strong> <a href="https://linkedin.com/in/vinayak-sharma-2ab488142">Conect via LinkedIn</a>
   
</address>