@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Vinayak Sharma</h1>
    <p class="lead">Portfolio coming soon.....</p>
    <p><a href="linkedin.com/in/vinayak-sharma-2ab488142" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>What's More</h2>
        <p>
            Along with portfolio this domain also contains a simple asp.net MVC CRUD project
        </p>
        <p><a class="btn btn-default" href="/Contacts">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>What is there for you</h2>
        <p> Feel free to sign up and use this site for your contact needs</p>
        <p><a class="btn btn-default" href="/Contacts">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>More about this</h2>
        <p>This is hosted on the web along with an online sql server instance</p>
        <p><a class="btn btn-default" href="/Contacts">Learn more &raquo;</a></p>
    </div>
</div>